<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{title}}</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        * {
            font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
        }

        img {
            max-width: 100%;
        }

        .collapse {
            margin: 0;
            padding: 0;
        }

        body {
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: none;
            height: 100%;
            background-color: #efefef;
            color: #333;
        }

        a {
            color: #07729d;
        }

        .btn {
            text-decoration: none;
            color: #FFF;
            background-color: #007bff;
            padding: 10px 16px;
            font-weight: bold;
            margin-right: 10px;
            text-align: center;
            cursor: pointer;
            display: inline-block;
        }

        .btn:hover {
            color: #FFF;
        }

        table.body-wrap {
            border-radius: 10px;
            background-color: #fff;
            width: 100%;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            line-height: 1.15;
            margin-bottom: 16px;
            color: #000;
        }

        h1 small,
        h2 small,
        h3 small,
        h4 small,
        h5 small,
        h6 small {
            font-size: 60%;
            color: #a1a1a1;
            line-height: 0;
            text-transform: none;
        }

        h1 {
            font-weight: 200;
            font-size: 44px;
        }

        h2 {
            font-weight: 200;
            font-size: 37px;
        }

        h3 {
            font-weight: 500;
            font-size: 27px;
        }

        h4 {
            font-weight: 500;
            font-size: 23px;
        }

        h5 {
            font-weight: 900;
            font-size: 17px;
        }

        h6 {
            font-weight: 900;
            font-size: 14px;
            text-transform: uppercase;
        }

        .center {
            text-align: center;
        }

        p,
        ul {
            margin-bottom: 10px;
            font-weight: normal;
            font-size: 14px;
            line-height: 1.6;
        }

        p.hero-lead-text {
            font-size: 16px;
        }

        p.last {
            margin-bottom: 0px;
        }

        ul li {
            margin-left: 5px;
            list-style-position: inside;
        }

        .container {
            display: block !important;
            margin: 0 auto !important;
            clear: both !important;
        }

        .content {
            padding: 32px;
            max-width: 600px;
            margin: 0 auto;
            display: block;
        }

        .content table {
            width: 100%;
        }

        td.paragraph {
            padding: 24px 0;
        }

        .clear {
            display: block;
            clear: both;
        }

        @media only screen and (min-width: 599px) {
            body {
                padding: 32px;
            }
        }

        @media only screen and (max-width: 600px) {
            a[class="btn"] {
                display: block !important;
                margin-bottom: 10px !important;
                background-image: none !important;
                margin-right: 0 !important;
            }

            div[class="column"] {
                width: auto !important;
                float: none !important;
            }

            table.social div[class="column"] {
                width: auto !important;
            }
        }
    </style>
</head>

<body>
    <table class="body-wrap">
        <tr>
            <td class="container">
                <div class="content">
                    <table>
                        <tr>
                            <td class="center">
                                <h3>{{title}}</h3>

                                <p class="hero-lead-text">
                                    {{lead_text}}
                                </p>

                                <a class="btn" href="{{call_to_action.link}}">
                                    {{call_to_action.text}}
                                </a>

                                {% if hero_image %}
                                <p>
                                    <img src="{{hero_image}}" />
                                </p>
                                {% endif %}
                            </td>
                        </tr>

                        {% for paragraph in paragraphs %}
                        <tr>
                            <td class="paragraph">
                                <h3>{{paragraph.title}}&nbsp;</h3>
                                {% if paragraph.subtitle %}
                                <h3>
                                    <small>{{paragraph.subtitle}}</small>
                                </h3>
                                {% endif %}
                                <p>{{paragraph.text}}</p>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </td>
            <td></td>
        </tr>
    </table>
</body>

</html>
